<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILMService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50318/LMService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILMService" contract="LMService.ILMService"
                name="BasicHttpBinding_ILMService" />
        </client>
    </system.serviceModel>
</configuration>